
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <style>
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}


body {
    background: linear-gradient(135deg,#021414,#062f2f,#031d1e);
    color:white;
    overflow-x:hidden;
    
}
footer {
    text-align:center;
    padding:40px;
    color:#888;
}
    </style>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}User Authentication{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/forgetPassword.css">
    <link rel="stylesheet" href="/static/CSS/password_reset_done.css">
    <link rel="stylesheet" href="/static/CSS/password_reset_complete.css">
    <link rel="stylesheet" href="/static/CSS/password_reset_confirm.css">

</head>

<body>

    <!-- Main Content -->
        {% block content %}
        {% endblock content %}
    <footer>
    © 2026 Trade Vision AI | Intelligent Stock Trading System
</footer>
    

    <script src="/static/JS/Dashboard.js"></script>

</body>
</html>
