
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}User Authentication{% endblock %}</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/style_dashboard.css">
    <link rel="stylesheet" href="/static/CSS/forgetPassword.css">
    <link rel="stylesheet" href="/static/CSS/password_reset_done.css">
    <link rel="stylesheet" href="/static/CSS/password_reset_complete.css">
    <link rel="stylesheet" href="/static/CSS/password_reset_confirm.css">

</head>
<body>

    <!-- Main Content -->
        {% block content %}
        {% endblock content %}
    </div>
        
    

    <script src="/static/JS/Dashboard.js"></script>

</body>
</html>
