
{% extends "base.html" %}
{% block content %}
<div class="forget_contain">
  <div class="main_forget_contain">
  <!-- Title/Header for the forgot password page -->
   <h3 class="forget2">Forgot Password?</h3>
   <!-- Forgot Password Form --> 
    <form action="{% url 'forgot_password' %}" method="POST">
  {% csrf_token %}

  <div class="form_group">
    <input class="email" type="email" name="email" placeholder="Email" required>
  </div>

  <button type="submit" class="submit">Submit</button>
</form>


<!-- Footer with navigation links -->
<div class="Footer">
  <div class="link">
    <!-- Link to signup page -->
    <a href="{% url 'Sign_Up' %}">Create A New Account</a><br><br>
    <!-- Link back to login page -->
    <a href="{% url 'Sign_In' %}">Back To Login</a>
  </div>
</div>
</div>
</div>
{% endblock content %}
