{% extends "base.html" %}
{% block title %} Wallet {% endblock title %}

{% block content %}
<link rel="stylesheet" href="/static/CSS/wallet.css">

<div class="header">

    <div class="header-left">
        <i class='bx bx-menu' id="menu-toggle"></i>
        <div class="logo">TradeVision AI</div>
        <div>Hi Suman</div>
    </div>

    <!-- SEARCH FORM -->
    <form class="search" method="GET">
        <div class="search-box">
            <i class="bx bx-search"></i>
            <input type="text" name="symbol" placeholder="Search symbol..." list="recentList">
        </div>

        <datalist id="recentList">
            {% for s in recent_symbols %}
                <option value="{{ s }}">
            {% endfor %}
        </datalist>
    </form>

    <div class="header-right">
        <i class="bx bx-bell"></i>
        <i class="bx bxs-user"></i>
    </div>

</div>


<div class="sub-container">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <ul class="menu">
            <li><a href="{% url 'dashboard' %}"><i class='bx bx-bar-chart'></i> Overview</a></li>
            <li><a href="{% url 'wallet' %}"><i class='bx bx-wallet'></i> Wallet</a></li>
            <li><i class='bx bx-trending-up'></i> Trading</li>
            <li><i class='bx bxs-robot'></i> AI Assistant</li>
            <li><i class='bx bx-briefcase'></i> Portfolio</li>
            <li><i class='bx bx-refresh'></i> Swap</li>
            <li><i class='bx bx-cog'></i> Settings</li>
        </ul>
    </div>

    <!-- MAIN -->
    <div class="main">

        <h3>Wallet</h3>

        <!-- FIRST SECTION -->
        <section class="first-section">

            <!-- BALANCE -->
            <div class="balance">

                <section>

                    <!-- LEFT SIDE -->
                    <div class="left-price">

                        <div class="up">
                            <div class="icon-box">
                                <i class="bx bx-credit-card-alt"></i>
                            </div>

                            <div class="text-box">
                                <div class="price">${{ balance }}</div>
                                <span>Total Balance</span>
                            </div>
                        </div>

                        <div class="down">
                            <div class="icon-box">
                                <i class="bx bx-wallet"></i>
                            </div>

                            <div class="text-box">
                                <div class="price">${{ balance }}</div>
                                <span>Closing Balance</span>
                            </div>
                        </div>

                    </div>
                    <!-- CARD -->
                    <div class="card">
                        <div class="card-grid">

                            <div class="mastercard">

                                <div class="card-top">
                                    <p class="card-brand">Mastercard</p>
                                    <div class="card-chip"></div>
                                </div>

                                <p class="card-number">1111 2222 3333 4444</p>

                                <div class="card-bottom">

                                    <div class="card-holder">
                                        <p class="label">Card Holder</p>
                                        <p class="value">JORDAN BELFORD</p>
                                    </div>

                                    <div class="card-expiry">
                                        <p class="label">Expiry</p>
                                        <p class="value">01/23</p>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>


                    <!-- RIGHT SIDE -->
                    <div class="right-price">

                        <div class="up">
                            <div class="icon-box">
                                <i class="bx bx-trending-up"></i>
                            </div>

                            <div class="text-box">
                                <div class="price">${{ today_income }}</div>
                                <span>Today Income</span>
                            </div>
                        </div>

                        <div class="down">
                            <div class="icon-box">
                                <i class="bx bx-trending-down"></i>
                            </div>

                            <div class="text-box">
                                <div class="price">${{ today_expense }}</div>
                                <span>Today Expenses</span>
                            </div>
                        </div>

                    </div>
                    <div class="Donut-Chart">

                    <div class="donut-graph">
                        <div class="donut"></div>
                    </div>
                    
                    <div class="donut-symbol">
                        <span class="dot"></span>
                        <div class="symbol">BTC</div>
                    </div>

                    <div class="Donut-profit-loss">
                        <div class="price">+$50.000</div>
                    </div>

                </div>
                </section>
            </div>
        </section>


        <!-- SECOND SECTION -->
        <section class="second-section">

            <!-- LEFT SIDE -->
            <div class="left-side">

                <div class="left-side-header">
                    <h4>Recent Activity</h4>

                    <div class="today-date">
                        <i class="bx bx-calendar">March 2026</i>
                        <i class="bx bx-chevron-down"></i>
                    </div>

                </div>
                <section class="left-activity-container">
                <div class="date-group">22 Mar, 2022</div>
                
                <table class="activity-table">

                    <tbody>
                        {% for tx in recent_transactions %}
                        <tr>
                            <td class="icon">🏢</td>

                            <td class="name">
                                {{ tx.symbol }} <br>
                                <span>{{ tx.created_at|time:"H:i" }}</span>
                            </td>

                            <td class="status">
                                {% if tx.transaction_type == "BUY" %}
                                <div class="dot" style="
                                    width:8px;
                                    height:8px;
                                    border-radius:50%;
                                    background:#22c55e;"></div>
                                    <span>Buy</span>
                                {% else %}
                                <div class="dot" style="
                                    width:8px;
                                    height:8px;
                                    border-radius:50%;
                                    background:#ef4444;"></div>
                                    <span>Sell</span>
                                {% endif %}
                            </td>

                            <td class="quantity">{{ tx.quantity }}</td>
                            <td class="price">${{ tx.price|floatformat:3 }}</td>
                            <td class="total">+${{ tx.total|floatformat:3 }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>
                </section>
            </div>


            <!-- RIGHT SIDE -->
            <div class="right-side">

                <div class="area-chart">

                    <div class="chart-header">

                        <div class="chart-text">
                            <h3>last 7 days</h3>
                            <h4>Recent activity</h4>
                        </div>

                        <div class="chart-buttons">
                            <button class="active">1D</button>
                            <button>7D</button>
                            <button>1W</button>
                            <button>7W</button>
                            <button>1M</button>
                            <button>5M</button>
                        </div>

                    </div>

                    <div class="chart-body"></div>

                </div>

            </div>

        </section>

    </div>

</div>

{% endblock content %}